@import "../scss/reset.scss";
@import "../scss/common.scss";

$borderColor: #333;

.homeWrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;

  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: 100vw;
    height: 45px;
    padding: 0 5px;
    align-items: center;
    border-bottom: 1px solid $borderColor;
    background-color: #000;
    z-index: 10;

    & > img {
      height: 70%;
      vertical-align: middle;
      filter: invert(96%) sepia(3%) saturate(83%) hue-rotate(200deg) brightness(120%) contrast(100%);
    }

    .camera {
      display: flex;
      align-items: center;
      width: 40px;
      height: 45px;
      padding: 8px;
    }

    .dm {
      display: flex;
      align-items: center;
      width: 40px;
      height: 45px;
      padding: 8px;
    }
  }

  .story {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-top: 45px;
    height: 105px;
    padding: 0 10px;
    border-bottom: 1px solid $borderColor;
    background-color: #000;

    &::-webkit-scrollbar {
      display: none;
    }

    .story__profiles {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80px;
      padding: 0 5px;

      .story__profile__img {
        width: 60px;
        height: 60px;
        border: 2px solid transparent;
        border-radius: 50%;
        background-image: linear-gradient(#fff, #fff), linear-gradient(45deg, #fec15e 0%, #db36a4 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-bottom: 5px;

        & > img {
          width: 100%;
          height: 100%;
          border: 2px solid #000;
          border-radius: 50%;
        }
      }

      .story__profile__name {
        width: 100vw;
        font-size: 0.7rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #fff;
      }
    }
  }

  .contents {
    .post {
      width: 100vw;
      height: auto;
      background-color: #000;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 50px;
      }

      .post__head {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        height: 60px;
        padding: 15px;
        background-color: #000;

        .post__head__img {
          width: 30px;
          height: 30px;
          background-color: #999;
          border-radius: 50%;
          margin-right: 15px;

          & > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .post__head__name {
          position: relative;
          vertical-align: middle;

          p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.9rem;
            font-weight: 700;
            color: #fff;
          }
        }

        .post__head__option {
          position: absolute;
          width: 25px;
          height: 25px;
          right: 15px;
        }
      }

      .post__content {
        width: 100vw;
        min-height: 300px;
        background-color: #000;
        overflow: hidden;

        .content__images {
          position: relative;
          display: flex;
          flex-direction: row;
          transition: transform 0.5s;

          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .post__footer {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100vw;
        height: 54px;
        padding: 6px 0 8px 10px;

        .like {
          display: flex;
          align-items: center;
          width: 40px;
          height: 40px;
          padding: 7px;
        }

        .comment {
          @extend .like;
        }

        .dm {
          @extend .like;
        }

        .bookMark {
          @extend .like;

          position: absolute;
          right: 10px;
        }

        .dots {
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          font-size: 2.2rem;
          font-weight: 700;
          color: #999;
          z-index: 10;

          span {
            margin: 0 1px;

            &.select {
              color: rgb(51, 51, 248);
            }
          }
        }
      }

      .post__title {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 25px;
        padding: 0 20px;
        background-color: #000;
        color: #fff;

        .post__name {
          font-size: 0.9rem;
          font-weight: 700;
          margin-right: 10px;
        }

        .post__titleText {
          font-size: 1rem;
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: #000;
    border-top: 1px solid $borderColor;

    .menu {
      display: flex;
      width: 100vw;
      height: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .menu__main {
        width: 25px;
        height: 25px;
      }

      .menu__search {
        @extend .menu__main;
      }

      .menu__fileSelect {
        @extend .menu__main;
      }

      .menu__like {
        @extend .menu__main;
      }

      .myProfile {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #555;
      }
    }
  }
}
